body{
  background: linear-gradient(0deg, rgba(1,64,95,1) 0%, rgba(205,29,57,1) 33%, rgba(251,97,36,1) 74%, rgb(255, 255, 255) 100%);
  padding-top: 30px;
  padding-bottom: 50px;
}

.titulo_integrantes{
  color: white;
  text-align: center;
  padding-top: 1px;
  font-size: 30px;
}

.fotos_integrantes{
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 55px;
  align-items: center;
  justify-content: center;
}

.cabeçalho{
  text-align: center;
}

.logo{
  transition: all 0.65s;
  cursor: pointer;
}

.logo:hover{
  -webkit-transform: scale(2);
  transform: scale(1.3);
}

.foto_didio,
.foto_henrique,
.foto_kaua,
.foto_lucas,
.foto_thales,
.foto_thalia{
  width: 165px;
  height: 165px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.nome_didio,
.nome_henrique,
.nome_kaua,
.nome_lucas,
.nome_thales,
.nome_thalia{
  color: rgb(255, 255, 255);
  font-size: 21px;
}

.foto_henrique:hover,
.foto_kaua:hover,
.foto_lucas:hover,
.foto_thales:hover,
.foto_thalia:hover,
.foto_didio:hover{
  -webkit-transform: scale(1.2);
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.descricao_atividade{
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 25px;
}

.descricao_atividade:hover{
  transition: 2s;
  color: white;
  text-align: center;
  font-size: 25px;
}

